#loremCounter p {
   text-align: center;
}

#achievementTracker .achievement-count {
   margin-bottom: 0;
}
#achievementTracker .motivation {
   margin-top: 0;
}
#achievementTracker .right-column {
   width: 100%;
}
#achievementTracker .view-options-container {
   margin: 1.5rem 0 1rem;
   display: flex;
   justify-content: space-evenly;
}
#achievementTracker .display-type {
   background-color: #bbb;
   border: 2px solid;
   border-top-color: #000;
   border-right-color: #eee;
   border-bottom-color: #eee;
   border-left-color: #000;
   padding: 1px 15px;
   position: relative;
   cursor: pointer;
}
#achievementTracker .display-type.selected {
   background-color: #ccc;
   border-top-color: #fff;
   border-right-color: #444;
   border-bottom-color: #444;
   border-left-color: #fff;
   cursor: default;
}
#achievementTracker .display-type img {
   width: 32px;
   margin-bottom: -5px;
}
#achievementTracker .display-type:not(.selected) img {
   opacity: 0.6;
}
#achievementTracker .display-type .name {
   color: #444;
   font-weight: normal;
   font-style: italic;
}
#achievementTracker .display-type.selected .name {
   color: #444;
   font-weight: bold;
   font-style: normal;
}
#achievementTracker .achievement-container {
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   background-color: #aaa;
   padding: 4px;
   margin: 2px;
}
#achievementTracker .achievement {
   background-color: #ddd;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   margin: 0.3rem 0;
   display: flex;
   align-items: center;
   position: relative;
}
#achievementTracker .achievement-container:not(.compact) .achievement:first-child {
   margin-top: 0;
}
#achievementTracker .achievement-container:not(.compact) .achievement:last-child {
   margin-bottom: 0;
}
#achievementTracker .achievement.locked {
   color: #fff;
   text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000;
   border-top-color: #000;
   border-right-color: #fff;
   border-bottom-color: #fff;
   border-left-color: #000;
   background-color: #666;
   background-image: url("../images/ui/stripes.png");
   background-size: 64px 64px;
   animation: bgSlide 7s infinite linear;
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6) inset;
}
#achievementTracker .achievement-container.compact {
   padding: 0;
   display: flex;
}
#achievementTracker .achievement-container.compact .achievement {
   width: 40px;
   height: 40px;
   margin: 3px;
}
#achievementTracker .achievement-container.compact .achievement :is(.name, .description) {
   display: none;
}
@keyframes bgSlide {
   0% {
      background-posiion-x: 0;
   }
   100% {
      background-position-x: 64px;
   }
}
#achievementTracker h1 {
   font-size: 1.7rem;
   margin-bottom: 0;
}
#achievementTracker h2 {
   text-align: center;
}
#achievementTracker .achievement * {
   margin: 3px 5px;
}
#achievementTracker .achievement .icon {
   --size: 32px;
   width: var(--size);
   height: var(--size);
   background-size: var(--size) var(--size);
   image-rendering: pixelated;
}
#achievementTracker .achievement .name {
   font-weight: bold;
   font-size: 1.1rem;
   margin: 0;
}
#achievementTracker .achievement .description {
   font-size: 1.05rem;
   margin: 0;
}

#achievementTracker .display-type {
   margin: 1px 0;
   height: 1.5rem;
   line-height: 1.5rem;
   cursor: pointer;
}
#achievementTracker .display-type:not(.selected):hover {
   animation: filterOptionHover 0.1s ease-in-out forwards;
}
#achievementTracker .display-type:not(.selected):not(:hover) {
   animation: filterOptionHover 0.1s ease-in-out forwards backwards;
}
@keyframes filterOptionHover {
   0% {
      font-size: 1rem;
      background-color: transparent;
   }
   100% {
      font-size: 1.1rem;
      background-color: #ddd;
   }
}

@media screen and (min-width: 60rem) {
   #achievementTracker {
      min-width: 60rem;
   }
   #achievementTracker .formatter {
      display: flex;
   }
   #achievementTracker .seperator {
      width: 2px;
      background-color: #000;
      margin: 5px 10px;
      box-shadow: 2px 0 0 0 #fff;
   }
}