@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

#CommandPrompt {
   max-width: 30rem;
}

#command-box {
   background-color: #000;
   margin: 3px;
   overflow: hidden;
}

#command-box .messages {
   min-height: 9rem;
   max-height: 15rem;
   overflow: auto;
}
#command-box .formatter {
   min-height: 9rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   /* min-height: -webkit-max-content; */
}

#CommandPrompt .message {
   margin: 0 10px;
}
#CommandPrompt .message span {
   font-size: 0.9rem;
   font-family: "Roboto Mono";
}

#CommandPrompt input {
   width: 100%;
   font-family: "Roboto Mono";
   font-size: 0.9rem;
   color: #fff;
   background-color: #111;
   margin-top: 5px;
   border: none;
   border-top: 1px solid #666;
   outline: none;
}