/* GENERAL STYLES */
#corporate-overview h1 {
   text-align: center;
   text-decoration: underline;
   font-size: 1.4rem;
   margin: 0.5rem 2px 0.4rem;
}
#corporate-overview h2 {
   font-size: 1.25rem;
   margin: 1rem 2px 0.5rem;
}
#corporate-overview .separator {
   width: 80%;
   height: 1px;
   background-color: #000;
   margin-left: 50%;
   border-bottom: 1px solid #fff;
   transform: translateX(-50%);
}

#corporate-overview .formatter {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

/* LEFT BAR (Control Panel) */
#corporate-overview .control-panel {
   min-width: 15rem;
   height: 100%;
   background-color: #ccc;
   border-right: 2px solid #000;
}
#corporate-overview .control-panel button {
   margin-left: 1rem;
}

/* MAIN SCREEN (sections) */
#corporate-overview .content {
   height: 100%;
   width: 100%;
   position: relative;
}
#corporate-overview .section {
   min-width: 25rem;
   max-width: 75%;
   background-color: #ccc;
   padding: 2px;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   display: table;
   position: absolute;
   left: 50%;
   top: 2rem;
   transform: translateX(-50%);
}
#corporate-overview .title-bar {
   color: #fff;
   text-align: center;
   font-weight: 600;
   font-size: 1.05rem;
   background-color: rgb(7, 30, 129);
   padding: 0.05rem 0;
}

/* ID CARD (Overview section) */
.id-card {
   min-width: 15rem;
   background-color: rgb(255, 255, 220);
   border: 1px solid #888;
   border-radius: 5px;
   padding: 5px 10px;
   margin: 1rem 0 1rem 50%;
   display: table;
   transform: translateX(-50%);
   box-shadow: 6px 6px 1px -1px rgba(0, 0, 0, 0.25);
}
.id-card .job-occupation {
   font-size: 0.85rem;
   margin-bottom: 0.3rem;
}
.id-card .worker-number {
   margin: 0 0 0.2rem;
}
.id-card ul {
   margin: 0;
   padding-left: 1.5rem;
}
.id-card li {
   list-style-type: initial;
}
.id-card .footer {
   color: #666;
   font-style: italic;
   font-size: 0.8rem;
   margin-top: 0.5rem;
   float: right;
}

/* #corporate-overview .left-bar {
   width: 15rem;
   height: 100%;
   background-color: #ccc;
   padding: 0 1rem 0 0.5rem;
   border-right: 2px solid #000;
   position: absolute;
   top: 0;
   left: 0;
   box-shadow: 6px 0 10px 3px rgba(0, 0, 0, 0.2);
}
#corporate-overview .left-bar p {
   margin: 0 0 0 0.5rem;
}
#corporate-overview .left-bar h2 {
   font-size: 1.25rem;
   text-decoration: underline;
   margin: 1rem 0 0.5rem 0;
}
#corporate-overview .right-bar {
   width: calc(100% - 15rem - 26px);
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
}

#corporate-overview .windows-program {
   overflow-y: auto;
}

#corporate-overview .panel-container {
   width: calc(100% - 15rem - 26px);
   height: 100%;
   margin: 0 0 0 calc(7.5rem + 13px);
   position: absolute;
}
#corporate-overview .panel {
   max-width: 70%;
   margin: 2rem 0 0 50%;
   transform: translateX(-50%);
   position: relative;
   box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}
#corporate-overview .panel:first-child {
   margin-top: 5rem;
}

#corporate-overview ul {
   margin: 0 0 1rem;
}
#corporate-overview .profile-picture {
   width: 5rem;
   height: 5rem;
   border: 2px solid;
   border-top-color: #000;
   border-right-color: #fff;
   border-bottom-color: #fff;
   border-left-color: #000;
   margin-left: 50%;
   transform: translateX(-50%);
}

#corporate-overview .upgrades-panel {
   overflow: auto;
}
#corporate-overview .upgrade-row {
   margin: 3rem 0;
   display: flex;
   justify-content: space-evenly;
}
#corporate-overview .upgrade {
   margin: 0 1rem;
   position: relative;
   display: inline-block;
   overflow: visible;
   flex: 1;
}
#corporate-overview .upgrade.bought {
   background-color: #bbb;
   border-top-color: #eee;
   border-left-color: #eee;
}
#corporate-overview .upgrade .requirements {
   width: unset;
   font-weight: bold;
   padding: 0 10px;
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
   white-space: pre;
}
#corporate-overview .upgrade.bought .requirements {
   color: #444;
   font-style: italic;
   background-color: #bbb;
   border-top-color: #000;
   border-right-color: #e5e5e5;
   border-bottom-color: #e5e5e5;
   border-left-color: #000;
}
#corporate-overview .upgrade.bought button {
   font-style: italic;
}

.lorem-packs-shop-panel .windows-program {
   max-height: calc(100% - 10rem);
   left: 50%;
   top: 5rem;
   transform: translateX(-50%);
}
.lorem-packs-shop-panel .windows-program .lorem-pack {
   margin: 0 0.5rem;
}
.lorem-packs-shop-panel .windows-program .top-section {
   margin-top: 1rem;
   display: flex;
   align-items: center;
}
.lorem-packs-shop-panel .windows-program .top-section img {
   --size: 48px;
   width: var(--size);
   height: var(--size);
   image-rendering: pixelated;
   image-rendering: -moz-crisp-edges;
   image-rendering: crisp-edges;
}
.lorem-packs-shop-panel .windows-program .top-section h2 {
   margin: 0 0 0 0.5rem;
}
.lorem-packs-shop-panel .windows-program .top-section span {
   color: #555;
   font-style: italic;
   font-size: 0.83rem;
}
.lorem-packs-shop-panel .windows-program .text-box {
   width: unset;
   font-style: italic;
   padding: 0 0.2rem;
   display: inline-block;
   margin-bottom: 0;
}
.lorem-packs-shop-panel .windows-program .list-caption {
   text-decoration: underline;
   margin-bottom: 0;
}
.lorem-packs-shop-panel .windows-program .caption {
   margin: 0 0 0.1rem 50%;
   display: inline-block;
   transform: translateX(-50%);
}
.lorem-packs-shop-panel .lorem-pack:not(.bought) .caption {
   animation: captionFlash 1.5s linear infinite;
}
@keyframes captionFlash {
   0% {
      background-color: transparent;
   }
   49% {
      background-color: transparent;
   }
   50% {
      background-color: yellow;
   }
   99% {
      background-color: yellow;
   }
}
.lorem-packs-shop-panel .windows-program .pack-preview-opener:hover {
   background-color: #ddd;
   cursor: help;
}
.lorem-packs-shop-panel .windows-program .open-icon {
   margin-left: 50%;
   animation: openIconSpin 10s linear infinite;
}
@keyframes openIconSpin {
   0% {
      transform: translateX(-50%) rotate(0deg);
   }
   100% {
      transform: translateX(-50%) rotate(360deg);
   }
}
.lorem-packs-shop-panel .windows-program .seperator {
   width: 100%;
   height: 2px;
   background-color: #000;
   box-shadow: 0 2px 0 0 #fff;
}

.lorem-tooltip {
   padding: 0.1rem 0.3rem;
   transform: translateY(-50%);
}
.lorem-tooltip table {
   width: 100%;
} */