/* GENERAL STYLES */
#corporate-overview h1 {
   text-align: center;
   font-size: 1.4rem;
   margin: 0.5rem 2px 0.4rem;
}
#corporate-overview h2 {
   text-decoration: underline;
   font-size: 1.25rem;
   margin: 1rem 2px 0.5rem;
}
#corporate-overview .separator {
   width: 80%;
   height: 1.5px;
   background-color: #000;
   margin: 1rem 0 1rem 50%;
   border-bottom: 1.5px solid #fff;
   transform: translateX(-50%);
}
#promotion-animation {
   background-color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 99999;
   animation: PromoteAnimation 2s linear forwards;
}
@keyframes PromoteAnimation {
   0% {
      opacity: 0;
   }
   70% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

#corporate-overview .formatter {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

/* LEFT BAR (Control Panel) */
#corporate-overview .control-panel {
   min-width: 15rem;
   height: 100%;
   background-color: #ccc;
   border-right: 2px solid #000;
}
#corporate-overview .control-panel button {
   margin-left: 1rem;
}

/* MAIN SCREEN (sections) */
#corporate-overview .content {
   height: 100%;
   width: 100%;
   position: relative;
}
#corporate-overview .section {
   min-width: 25rem;
   max-width: 75%;
   background-color: #ccc;
   padding: 2px;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   display: table;
   position: absolute;
   left: 50%;
   top: 2rem;
   transform: translateX(-50%);
}
#corporate-overview .title-bar {
   color: #fff;
   text-align: center;
   font-weight: 600;
   font-size: 1.05rem;
   background-color: rgb(7, 30, 129);
   padding: 0.05rem 0;
}

/* ID CARD (Overview section) */
.id-card {
   min-width: 15rem;
   background-color: rgb(255, 255, 220);
   border: 1px solid #888;
   border-radius: 5px;
   padding: 5px 10px;
   margin: 1rem 0 1rem 50%;
   display: table;
   transform: translateX(-50%);
   box-shadow: 6px 6px 1px -1px rgba(0, 0, 0, 0.25);
}
.id-card .job-occupation {
   font-size: 0.85rem;
   margin-bottom: 0.3rem;
}
.id-card .worker-number {
   margin: 0 0 0.2rem;
}
.id-card ul {
   margin: 0;
   padding-left: 1.5rem;
}
.id-card li {
   list-style-type: initial;
}
.id-card .footer {
   color: #666;
   font-style: italic;
   font-size: 0.8rem;
   margin-top: 0.5rem;
   float: right;
}
/* PROMOTE SECTION */
.promotion-progress {
   text-align: center;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 0.5rem 0;
}
.progress-bar-formatter {
   text-align: center;
   margin: 0.5rem 0 0;
   white-space: pre;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.progress-bar-formatter h3 {
   margin: 0 0 0.1rem;
}
.progress-bar-formatter p {
   margin: 0;
}

/* PROMOTION SCREEN */
#promotion-screen {
   background-color: #ccc;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   padding: 0 0.75rem 0.75rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
}
#promotion-screen .career-path-container {
   display: flex;
   justify-content: center;
}

#promotion-screen .career-panel {
   --size: 8.5rem;
   width: var(--size);
   height: var(--size);
   border: 2px solid;
   background-color: #bbb;
   border-top-color: #000;
   border-right-color: #fff;
   border-bottom-color: #fff;
   border-left-color: #000;
   margin: 5px;
   position: relative;
   cursor: pointer;
}
#promotion-screen .career-panel:not(.selected):hover {
   background-color: #c5c5c5;
}
#promotion-screen .career-panel.selected {
   background-color: #ccc;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
}
#promotion-screen h3 {
   text-decoration: underline;
   text-align: center;
   margin: 0.3rem 0 0.1rem;
}
#promotion-screen .salary {
   color: #666;
   font-size: 0.9rem;
   font-style: italic;
   text-align: center;
   margin-bottom: 0.2rem;
}
#promotion-screen ul {
   padding: 0 0 0 0.5rem;
   margin: 0;
}
#promotion-screen li {
   font-size: 0.95rem;
   margin-bottom: 0.25rem;
   list-style-type: none;
}
#promotion-screen li::before {
   content: "- ";
}

#promotion-screen .footer {
   color: #666;
   font-size: 0.85rem;
   font-style: italic;
   position: absolute;
   bottom: 2px;
   right: 4px;
}
#promotion-screen .selected-label {
   text-align: center;
   margin-bottom: 0.5rem;
}

#career-path {
   --item-size: 4rem;
   --item-spacing-x: 50px;
}
#career-path .row {
   height: var(--item-size);
   margin: 0.5rem 0 0.5rem 50%;
   display: table;
   transform: translateX(calc(-50% + (var(--item-spacing-x) + var(--item-size)) * var(--offset) / 2));
}
#career-path .item {
   width: var(--item-size);
   height: var(--item-size);
   display: inline-block;
   white-space: pre;
}
#career-path .item:not(:first-child) {
   margin-left: calc(var(--item-spacing-x) / 2);
}
#career-path .item:not(:last-child) {
   margin-right: calc(var(--item-spacing-x) / 2);
}
#career-path .item.previousJob {
   background-color: #fff;
}
#career-path .item.nonSelected {
   background-color: #aaa;
}
#career-path .item.unknown {
   background-color: #888;
   opacity: 0.9;
}

#career-path .item span {
   line-height: var(--item-size);
   white-space: pre;
   display: inline-block;
   margin-left: 50%;
   transform: translateX(-50%);
}

#upgrades .upgrade-container {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0.5rem 0;
}
#upgrades .upgrade {
   width: 15rem;
   background-color: #ccc;
   padding: 0.2rem;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
}
#upgrades .upgrade.bought {
   background-color: #aaa;
   border-top-color: #ddd;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #ddd;
}
#upgrades .upgrade .description {
   margin-top: 0.5rem;
}
#upgrades .upgrade .requirements {
   font-weight: 600;
   background-color: #fff;
   margin: 0 0 0.5rem 50%;
   padding: 0 0.2rem;
   border: 2px solid;
   border-top-color: #000;
   border-right-color: #fff;
   border-bottom-color: #fff;
   border-left-color: #000;
   display: table;
   transform: translateX(-50%);
   white-space: pre;
}
#upgrades .upgrade.bought .requirements {
   color: #444;
   font-style: italic;
   background-color: #999;
   border-right-color: #ddd;
   border-bottom-color: #ddd;
}