@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
   margin: 0;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
:root {
   --win95-bg-colour: #c3c7cb;
   --win95-dark-blue: rgb(7, 30, 129);
}
body.blurred::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   backdrop-filter: blur(2px);
   z-index: 2;
}

#version-text {
   --offset: 0.3rem;
   color: #ddd;
   font: 400 0.95em "Source Code Pro";
   position: absolute;
   top: var(--offset);
   left: var(--offset);
   text-shadow: 2px 2px 0 #000;
}

.hidden {
   display: none !important;
}

audio {
   display: none;
}


button, .button {
   outline: none;
   cursor: pointer;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

#mask {
   background-color: rgba(0, 0, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 3;
}

.back-button {
   color: #fff;
   font: 700 1.1rem "PT Serif";
   background-color: rgb(255, 84, 17);
   padding: 0.1rem 1rem;
   border: 1px solid rgb(255, 253, 228);
   margin: 0.5rem 0 1rem;
   box-shadow: 0 0 0 1px rgb(184 128 54), 0 0 6px 1px rgb(0 0 0 / 40%) inset;
   cursor: pointer;
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
}
.back-button:hover {
   box-shadow: none;
}
.back-button:active {
   color: rgb(235, 233, 210);
   border-color: rgb(235, 233, 210);
   background-color: rgb(226, 81, 24);
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3) inset, 0 0 8px 1px #000;
}