@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
   margin: 0;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
:root {
   --win95-bg-colour: #c3c7cb;
   --win95-dark-blue: rgb(7, 30, 129);
}
body.blurred::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   backdrop-filter: blur(2px);
   z-index: 2;
}

#version-text {
   --offset: 0.3rem;
   color: #ddd;
   font: 400 0.95em "Source Code Pro";
   position: absolute;
   top: var(--offset);
   left: var(--offset);
   text-shadow: 2px 2px 0 #000;
}

.hidden {
   display: none !important;
}

audio {
   display: none;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

#mask {
   background-color: rgba(0, 0, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 2;
}