/* General */
#open-mail {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.3);
}


/* INBOX */
#inbox {
   width: 30rem;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
   z-index: 4;
}
#inbox .title-bar {
   margin-bottom: 0.5rem;
}
#inbox .formatter {
   display: flex;
}

/* Folders */
#inbox .folder-container {
   height: 10rem;
}
#inbox .folder {
   --image-size: 22px;
   --height: 24px;
   height: var(--height);
   margin: 0;
   position: relative;
}
#inbox .folder:not(.opened):active {
   background-color: #f5f5f5;
}
#inbox .folder:not(.opened) {
   cursor: pointer;
}
#inbox .folder.opened::after {
   content: "";
   width: 5px;
   height: 5px;
   border-top: 2px solid #555;
   border-right: 2px solid #555;
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%) rotate(45deg);
}
#inbox .folder .icon {
   width: var(--image-size);
   height: var(--image-size);
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
   pointer-events: none;
}
#inbox .folder .icon img {
   width: var(--image-size);
   height: var(--image-size);
}
#inbox .folder span {
   margin-left: calc(var(--image-size) + 4px);
}
#inbox .folder.has-unopened-letters span {
   color: red;
}
#inbox .folder.has-unopened-letters .icon::after {
   --size: 16px;
   content: "";
   width: var(--size);
   height: var(--size);
   background-image: url("../images/icons/warning.png");
   background-size: var(--size) var(--size);
   position: absolute;
   top: 50%;
   /* left: 0; */
   left: 50%;
   transform: translate(-50%, -50%);
   animation: folderIconFlash 1.5s ease-in-out infinite;
   /* z-index: 999; */
}
@keyframes folderIconFlash {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
#inbox .root-folder .icon {
   background-image: url("../images/icons/folder-container.png") !important;
}
#inbox .folder span {
   line-height: var(--height);
   margin-left: 30px;
   pointer-events: none;
}
#inbox .folder.opened span {
   font-weight: bold;
}
#inbox .folder:not(.root-folder) {
   margin-left: 20px;
}

/* Letter section */
#inbox .scroll-area {
   min-width: 15rem;
   height: 10rem;
   margin-left: 0.2rem;
}
#inbox .ui-section-container img {
   width: 16px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
#inbox .ui-section-container .ui-section:first-child {
   width: 50px;
   position: relative;
}
#inbox .ui-section-container img {
   width: 16px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
#inbox .ui-section-container .ui-section:first-child {
   width: 50px;
   position: relative;
}
#inbox .letter {
   width: 100%;
   display: flex;
   cursor: pointer;
   position: relative;
}
#inbox .letter.opened {
   color: #fff;
   font-weight: bold;
   background-color: var(--win95-dark-blue);
   margin: -2px 0 -2px -2px;
   border: 2px dotted #fff;
   cursor: default;
}
#inbox .letter * {
   margin: 0 2px;
}
#inbox .letter div.icon-container {
   width: 50px;
   position: relative;
}
#inbox .letter img {
   width: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#inbox .letter.unopened {
   animation: unopenedLetterFlash 2s infinite linear;
}
@keyframes unopenedLetterFlash {
   0% {
      background-color: #fff;
   }
   49% {
      background-color: red;
   }
   50% {
      background-color: red;
   }
   90% {
      background-color: #fff;
   }
}
#inbox .letter.unopened::after {
   content: "";
   --size: 15px;
   width: var(--size);
   height: var(--size);
   background-image: url("../images/icons/warning.png");
   background-size: var(--size) var(--size);
   position: absolute;
   right: 5px;
   top: 50%;
   transform: translateY(-50%);
}
#inbox .letter div:not(.icon-container) {
   width: 100%;
}
#inbox .letter div:not(.icon-container) {
   text-overflow: ellipsis;
   overflow: hidden;
}
#inbox .letter div:not(.icon-container) span {
   margin-left: 10px;
   white-space: pre;
}



/* LETTER */
#letter {
   width: 30%;
   padding: 0.3rem;
   position: absolute;
   top: 50%;
   right: 25%;
   transform: translate(50%, -50%);
   pointer-events: all;
   z-index: 4;
}

#letter .select-notice {
   font-weight: 600;
   text-align: center;
}

#letter table {
   width: 100%;
}
#letter td {
   width: 1px;
}
#letter td:last-child {
   width: 100%;
}

#letter > .text-box {
   width: calc(100% - 0.3rem);
}

#letter-body {
   margin: 0.4rem 0;
}
#letter-body h1 {
   font-size: 1.9rem;
   text-align: center;
   color: rgb(173, 30, 30);
   margin: 0.2rem 0 0.75rem;
}
#letter-body h1 + * {
   margin-top: 0.2rem;
}

#letter-body {
   font-family: "Times New Roman", Times, serif;
   max-height: 10rem;
   overflow: scroll;
   overflow-x: hidden;
   cursor: text;
}
#letter-body::-webkit-scrollbar {
   width: 20px;
   background-color: #ddd;
   pointer-events: none;
}
#letter-body::-webkit-scrollbar-thumb {
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   background-color: #ccc;
}
#letter-body::-webkit-scrollbar-button:vertical:end:increment, #letter-body::-webkit-scrollbar-button:vertical:start:decrement {
   height: 20px;
   display: block;
   background-color: #c3c7cb;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   background-position: center center;
   box-shadow: inset 0 0 0 1px #c3c7cb, inset 2px 2px 0 0 #fff, inset -2px -2px 0 0 #000;
}
#letter-body::-webkit-scrollbar-button:vertical:end:increment {
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=);
}
#letter-body::-webkit-scrollbar-button:vertical:start:decrement {
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=);
}

#reward-container .no-rewards-notice {
   text-align: center;
   font-style: italic;
}

#reward-container h3 {
   text-decoration: underline;
   margin: 0;
}
#reward-container ul {
   margin: 0.2rem 0 1rem;
}
#reward-container.claimed {
   background-color: #bbb;
   border: 2px solid;
   border-top-color: #000;
   border-right-color: #fff;
   border-bottom-color: #fff;
   border-left-color: #000;
}
#reward-container button {
   margin-bottom: 0.4rem;
}