#top-bar {
   background-color: #555;
   border-bottom: 2px solid #000;
   padding: 4px 0;
}
#top-bar .formatter {
   margin-left: 50%;
   display: inline-flex;
   transform: translateX(-50%);
}
#top-bar button {
   margin: 0 0.5rem;
}

/* For page views */
#top-bar a {
   text-decoration: none;
}

.navbar-tooltip {
   min-width: 10rem;
   background-color: #222;
   display: inline-block;
   position: absolute;
   top: 0;
   transform: translateX(calc(-50% + 2.5rem));
}