.popup .warning-container {
   margin: 0.5rem 0 0 0;
   display: flex;
   align-items: center;
}
.popup .warning-container img {
   --size: 40px;
   width: var(--size);
   height: var(--size);
}
.popup .warning-container p {
   font-weight: 600;
   font-size: 1.05rem;
   margin: 0 0 0 10px;
}

@keyframes HidePopup {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}



/* ACTUAL POPUPS */

/* Browser Error */
.popup.browser-error img.bomb {
   --size: 64px;
   width: var(--size);
   height: var(--size);
   margin: 5px 0 0 5px;
   float: left;
}

/* Lurem Impsir */
.popup.lurem-impsir img.flushed-face {
   --size: 100px;
   width: calc(var(--size) * 257/196);
   height: var(--size);
   float: right;
}
.lurem-impsir-falling-text {
   color: #00ff00;
   position: absolute;
   transform: translateX(-50%);
   text-shadow: 2px 2px 0 #000;
   pointer-events: none;
}

/* RAM Download */
.ram-download.hiding {
   animation: HidePopup 1s linear forwards;
}

/* Chunky */
.popup.chunky.hiding {
   animation: HidePopup 1s linear forwards;
}
.popup.chunky .mood {
   text-align: center;
   text-shadow: 1px 1px 0 #000;
   margin-bottom: 0;
}