.popup .warning-container {
   margin: 0.5rem 0 0 0;
   display: flex;
   align-items: center;
}
.popup .warning-container img {
   --size: 40px;
   width: var(--size);
   height: var(--size);
}
.popup .warning-container p {
   font-weight: 600;
   font-size: 1.05rem;
   margin: 0 0 0 10px;
}

@keyframes HidePopup {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}



/* ACTUAL POPUPS */

/* Browser Error */
.popup.browser-error img.bomb {
   --size: 64px;
   width: var(--size);
   height: var(--size);
   margin: 5px 0 0 5px;
   float: left;
}

/* Lurem Impsir */
.popup.lurem-impsir img.flushed-face {
   --size: 100px;
   width: calc(var(--size) * 257/196);
   height: var(--size);
   float: right;
}
/* Falling text */
.lurem-impsir-falling-text {
   color: #00ff00;
   position: absolute;
   transform: translateX(-50%);
   text-shadow: 2px 2px 0 #000;
   pointer-events: none;
}

/* Rain */
.popup.rain p {
   margin: 0;
}
.popup.rain .steal-amount {
   text-align: center;
   text-shadow: 1px 1px 0 #000;
   font-style: italic;
   color: #00ff00;
   margin-top: 0.3rem;
}

/* RAM Download */
.popup.ram-download.hiding {
   animation: HidePopup 1s linear forwards;
}

/* Chunky */
.popup.chunky.hiding {
   animation: HidePopup 1s linear forwards;
}
.popup.chunky .chunky-img {
   height: 10rem;
   margin-left: 50%;
   transform: translateX(-50%);
}
.popup.chunky .mood {
   text-align: center;
   margin-bottom: 0;
}
.popup.chunky span:not(.placeholder) {
   text-shadow: 1px 1px 0 #000;
}
.popup.chunky span.placeholder {
   color: #666;
   font-style: italic;
}

/* Chunky plantation */
.popup.chunky-plantation .tree {
   height: 20rem;
}
.popup.chunky-plantation .remaining-time {
   color: red;
   text-align: center;
}
.popup.chunky-plantation .banana {
   --size: 32px;
   width: var(--size);
   height: var(--size);
   position: absolute;
   cursor: pointer;
}
.popup.chunky-plantation .banana.anim-1 {
   animation: BananaAnim1 linear infinite;
}
@keyframes BananaAnim1 {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.popup.chunky-plantation .banana.anim-2 {
   animation: BananaAnim2 linear infinite;
}
@keyframes BananaAnim2 {
   0% {
      transform: rotate(0deg);
   }
   10% {
      transform: rotate(20deg);
   }
   20% {
      transform: rotate(-16deg);
   }
   30% {
      transform: rotate(12deg);
   }
   40% {
      transform: rotate(-8deg);
   }
   50% {
      transform: rotate(4deg);
   }
   60% {
      transform: rotate(0deg);
   }
}

/* Dev Hire */
.popup.dev-hire .code-monkey {
   height: 5rem;
   float: right;
}
.popup.dev-hire .rainbow-bg {
   color: #fff;
   border: 2px solid;
   border-color: #ddd #000 #000 #ddd;
   padding: 0.2rem 0.5rem;
   display: inline-block;
   margin-left: 50%;
   transform: translateX(-50%);
   white-space: pre;
   cursor: pointer;
}
.popup.dev-hire .rainbow-bg:hover {
   border-color: #fff #666 #666 #fff;
   filter: brightness(1.1);
}

.popup.dev-hire .closing-screen {
   background-color: #ddd;
   border: 2px solid;
   border-color: #fff #000 #000 #fff;
   padding: 0.5rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.popup.dev-hire .closing-screen p {
   text-align: center;
   margin: 0;
}

/* Expandinator */
.popup.expandinator {
   max-width: 100%;
}
.popup.expandinator .content {
   text-align: center;
   white-space: pre;
}
.popup.expandinator .content.expanding {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.popup.expandinator .time-remaining {
   color: red;
}

/* Visitor */
.popup.visitor .rainbow-bg {
   --size: 4rem;
   padding: 0.2rem;
   border: 2px solid var(--win95-light-blue);
   border-radius: 3px;
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
}
.popup.visitor .rainbow-bg .box {
   width: var(--size);
   height: var(--size);
   background-color: #fffff0;
}
.popup.visitor .rainbow-bg .box span {
   width: 100%;
   text-align: center;
   margin-top: calc(var(--size) / 2);
   display: inline-block;
   transform: translateY(-50%);
}
.popup.visitor .confetti {
   position: absolute;
}