.popup .warning-container {
   width: 80%;
   margin: 0.5rem 0 0 50%;
   display: flex;
   align-items: center;
   transform: translateX(-50%);
}
.popup .warning-container img {
   --size: 40px;
   width: var(--size);
   height: var(--size);
}
.popup .warning-container p {
   font-weight: 600;
   font-size: 1.1rem;
   margin: 0 0 0 10px;
}



/* ACTUAL POPUPS */

/* Browser Error */
.popup.browser-error img.bomb {
   --size: 64px;
   width: var(--size);
   height: var(--size);
   margin: 5px 0 0 5px;
   float: left;
}

/* Lurem Impsir */
.popup.lurem-impsir img.flushed-face {
   --size: 100px;
   width: calc(var(--size) * 257/196);
   height: var(--size);
   float: right;
}
.lurem-impsir-falling-text {
   color: #00ff00;
   position: absolute;
   transform: translateX(-50%);
   text-shadow: 2px 2px 0 #000;
   pointer-events: none;
}