/* PREFERENCES */
#preferences .thumbnail-container {
   display: flex;
   justify-content: space-evenly;
}
#preferences .thumbnail {
   width: 100px;
   height: 100px;
   background-color: #000;
   border: 2px solid;
   border-top-color: #eee;
   border-left-color: #eee;
   border-bottom-color: #000;
   border-right-color: #000;
   margin: 8px;
   cursor: pointer; 
   position: relative;
}
#preferences .thumbnail.selected {
   border-top-color: #333;
   border-left-color: #333;
   border-bottom-color: #fff;
   border-right-color: #fff;
   cursor: default;
   box-shadow: 4px 4px 0 0 #444;
}
#preferences .thumbnail .image {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
#preferences .thumbnail:not(.selected) .image {
   opacity: 0.5;
}
#preferences .thumbnail span {
   font-style: italic;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: inline-block;
   white-space: nowrap;
}

/* APPLICATION SHOP */
#applicationShop .tab {
   width: clamp(0px, 75%, 100%);
   background-color: #ddd;
   border: 2px solid;
   border-top-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   border-left-color: #fff;
   display: table;
   margin: 10px 0 10px 50%;
   transform: translateX(-50%);
   box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.3);
}
#applicationShop .tab.unlocked {
   background-color: #bbb;
   border-top-color: #000;
   border-right-color: #eee;
   border-bottom-color: #eee;
   border-left-color: #000;
   box-shadow: none;
}
#applicationShop .tab > .formatter {
   width: 95%;
   padding: 3px 0;
   margin-left: 50%;
   display: flex;
   justify-content:space-around;
   align-items: center;
   transform: translateX(-50%);
}
#applicationShop .formatter .formatter {
   display: flex;
   align-items: center;
}
#applicationShop .tab .formatter > * {
   margin: 0 3px;
}
#applicationShop .tab img {
   --size: 30px;
   width: var(--size);
   height: var(--size);
   image-rendering: pixelated;
}
#applicationShop .name {
   font-size: 1.05rem;
   font-weight: bold;
   margin: 0 0 0.3rem 0.5rem;
}
#applicationShop .description {
   font-size: 0.95rem;
   margin: 0 0 0 0.4rem;
}
#applicationShop button {
   min-width: unset;
}
#applicationShop .tab.unlocked button {
   font-style: italic;
}

#settings .setting {
   width: 80%;
   border: 2px solid;
   border-top-color: #fff;
   border-left-color: #fff;
   border-right-color: #000;
   border-bottom-color: #000;
   margin-left: 50%;
   transform: translateX(-50%);
}
#settings .formatter {
   display: flex;
   align-items: center;
}
#settings .setting > .formatter {
   padding: 2px 3px;
   justify-content: space-between;
}
#settings .icon {
   --size: 32px;
   width: var(--size);
   height: var(--size);
   image-rendering: pixelated;
}
#settings .label {
   font-weight: bold;
   text-align: center;
}
#settings .value {
   margin-right: 10px;
}