#top-bar {
   background-color: #555;
   border-bottom: 2px solid #aaa;
   padding: 4px 0;
}
#top-bar .container {
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
}
#top-bar button {
   margin: 0 0.5rem;
   display: inline;
}